.post-container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 0;
    margin-bottom: 40px;
    margin-top: 0;
    padding: 0;
}

.post-box{
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--cambria);
}

.post-box span{
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 1.1em;
    display: block;
    margin: 0px 20px 20px 20px;
}

.post-img{
    width: 100%;
    height: 500px;
    padding: 20px 20px 0 20px !important;
    padding: 0;
    box-sizing: border-box;
    object-fit: contain;
    z-index: 0;
    position: relative;
}

.post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.post-text{
    width: 960px;
    margin: -10% auto 40px auto;
    background-color: #f0f0f0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.post-text h2{
    font-size: 2em;
    margin: 0 !important;
}

.post-text h3{
    font-size: 1.3em;
    margin: 10px 0 !important;
}

.post-text img{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.post-content p{
    line-height: 1.5em !important;
    padding: 7px 0 !important;
    margin: 0 15px !important;
}

.author-post {
    font-size: 0.8em;
    color: #555;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 10px 0;
}

.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.author span{
    margin: 0;
    font-size: 1.3em;
    font-weight: normal;
}

.autor-box{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.autor{
    display: flex;
    padding: 20px !important;
    margin: 0 !important;
    gap: 30px;  
}

.autor img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.autor-perfil{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.autor h2{
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
}

.autor p{
    font-size: 0.7em;
    margin: 0;
    font-weight: 500;
}

.sociais-redes{
    display: flex;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 10px 0 10px 20px;
}

.autor::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #fd505000, #5a5a5a, #f7f75c00);
    z-index: 10;
}

.sociais-redes ul{
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sociais-redes ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
}

.sociais-redes i{
    color: rgb(43, 43, 43);
    font-size: 1.5em;
    transition: all 0.3s ease-in-out;
}

.sociais-redes i:hover{
    color: rgb(124, 124, 124);
    transition: all 0.3s ease-in-out;
}

.data-post {
    margin: 0;
    font-weight: 500;
    display: inline-block;
    color: #2b2b2b;
    gap: 10px;
    font-size: 1em;
    padding: 8px 0;
}

.data-post i{
    font-size: 1em;
}

.tempo-leitura {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.post-text p{
    color: #646464;
    font-size: 1.1rem;
    margin: 5px 0 10px 0;
    line-height: 1.3;
}

.post-text h2{
    font-size: 26px;
    color: #272727;
    margin: 30px 0 20px 0;
}

.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    gap: 10px;
}

@media (max-width: 1250px) {

    .post-text{
        width: 80%;
    }

    .autor-box{
        width: 80%;
    }
}

@media (max-width: 992px) {
    .post-box{
        width: 70%;
    }

    .sociais-redes i{
    color: rgb(43, 43, 43);
    font-size: 1.8em;
}
}

@media (max-width: 765px) {

    .btt{
        display: none;
    }

    .container {
        width: 100%;
    }
    
    .post-box{
        box-sizing: border-box;
        width: 100%;
    }

    .autor{
        gap: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .autor p{
        font-size: 0.7em !important;
    }

    .autor h2{
        font-size: 1.1em !important;
    }

    .autor-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .autor img{
        width: 150px;
        height: 150px;
    }

    .sociais-redes{
        padding: 10px 0 !important;
    }

    .btn-voltar{
        padding: 20px 20px 0 20px;
    }

    #blog{
        padding: 20px;
    }

    .post-text{
        top: -60px !important;
        width: 79% !important;
        padding: 15px !important;
    }

}

@media (max-width: 576px) {

    .autor-box{
        max-width: 100%;
        width: auto;
        margin: 0 20px 20px 20px !important;
        box-sizing: border-box;
    }

    .post-box{
        position: relative;
        display: flex;
    }

    .post-text{
        position: relative;
        display: flex;
        box-sizing: border-box;
        width: auto !important;
        margin: 0 20px !important;
    }

    .post-container .btn-voltar{
        display: none;
    }

}