
#sobre{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0 50px 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;       
    overflow: hidden;
}

.header-about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--cambria);
}

.header-about h2{
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: auto auto;         
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
}

.content-sobre{
    font-family: var(--cambria);
    font-weight: 500;
    grid-column: 1/3;  
    grid-row: 1;
    font-size: 1.3em;
    text-align: justify;
}

.content-sobre p{
    margin: 0;
}

.foto-sobre{
    grid-column: 3/6;  
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.foto-sobre img {
    max-width: 100%;
    width: 72%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.content-sobre-inferior{
    font-family: var(--cambria);
    font-weight: 500;
    grid-column: 1/6; 
    grid-row: 2;
    margin: 0;
    font-size: 1.3em;
    text-align: justify;
}

.content-sobre-inferior p{
    margin: 0;
}

.foto-sobre-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 563px;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.foto-slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    transform: scale(1);
    animation: heroZoom 15s ease-in-out infinite alternate;
}

.foto-slide.ativo {
  opacity: 1;
}

@keyframes heroZoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.foto-slide.ativo {
    opacity: 1;
    position: relative;
}

@media (max-width: 1200px) and (min-width: 992px){

    #sobre{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        gap: 0;
    }

    .about-container{
        gap: 10px;
    }

    .foto-sobre{
        padding: 15px 0;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .foto-sobre img{
        width: 500px;
    }
    
    .content-sobre{
        font-size: 1.2em;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }

    .content-sobre-inferior{
        font-size: 1.2em;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }

}

@media (max-width: 992px) and (min-width: 768px)  {

    #sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-height: 100vh;
        width: 100%;
    }

    .grid{
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }

    .about-container{
        display: flex;
        height: auto;
        box-sizing: border-box;
        flex-direction: column-reverse;
        gap: 10px;
        margin: 0px;
    }

    .content-sobre{
        margin: auto;
        width: auto;
        padding-bottom: 20px;
    }

    .content-sobre p{
        font-size: 1em;
        line-height: 1.3em;
    }

    .content-sobre-inferior p{
        font-size: 1em;
        line-height: 1.3em;
    }

    .foto-sobre{
        display: block;
        width: 100%;
        max-width: 450px;
        min-height: 700px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        order: -1;
    }

    .foto-sobre img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

@media screen and (max-width: 768px) {

    #sobre{
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        width: 100%;
    }

    .grid{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .about-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .header-about{
        display: flex;
        padding: 30px 0 0 0;
        margin: 0;
    }
    
    .content-sobre {
        width: auto;
        box-sizing: border-box; 
        margin-left: auto;
        margin-right: auto;

    }

    .content-sobre p{
        margin: 0 !important;
    }

    .content-sobre-inferior p{
        margin: 0 !important;
    }

    .foto-sobre{
        display: flex;
        order: -1;
        box-sizing: border-box;
        margin: 30px 0;
        overflow: hidden;
        width: 450px;
        height: 450px;
        min-height: 450px;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    .foto-sobre img{
        padding-top: 190px;
        width: 100%;
        height: auto;
        display: flex;
        object-fit: cover;
    }

    .content-sobre h2{
        margin: 15px;
    }

    .content-sobre p{
        width: 100% !important;
        margin: 15px 0;
    }

}

@media (max-width: 576px) {
    
    #sobre{
        width: 100%;
        box-sizing: border-box;
    }

    #sobre h2{
        padding: 10px 0 !important;
    }

    .header-about h2{
        font-size: 2em;
        padding: 20px 0;
        text-align: center;
    }

    .grid{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .foto-sobre {
        display: flex;
        width: 250px;
        height: 250px;
        min-height: 250px;
        max-width: 250px;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .foto-sobre img {
        padding-top: 190px;
        width: 100%;
        height: 420px;
        display: flex;
        object-fit: cover !important;
    }
    .content-sobre{
        order: 2;
        font-size: 1.1em;
        text-align: justify;
        width: 100%;
        padding: 0 20px;
    }

    .content-sobre-inferior{
        order: 3;
        font-size: 1.1em;
        text-align: justify;
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
    }

    .foto-sobre-inferior {
        order: 4;
        margin: 15px;
        box-sizing: border-box;
        height: 100%;
        margin-top: 30px;
    }

    .foto-sobre img{
        object-fit: cover;
    }
    .foto-slide {
        width: 90%;
        height: auto;
        border-radius: 20px;
    }

}