#contato{
    background-color: #fff;
    padding: 25px 0;
}

#contato h2 {
    font-family: var(--cambria);
    font-weight: 700;
    padding: 0 0px 20px 0;
    margin: 0px;
    flex-wrap: nowrap;
    position: relative;
}

#contato h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 20px !important;
    width: 100%;
    height: 3px;
    background: var(--cor-base);
    transform: translateX(-50%);
    border-radius: 2px;
}

#contato a{
    color: #3b3b3b;
}

.contato-wrapped{
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-family: var(--josefin);
}

.contato-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contato-item {
    text-decoration: none;
    font-size: 1.2em;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative; 
    overflow: hidden; 
    z-index: 1;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.contato-info a{
    padding: 10px 40px;
    gap: 5px;
}

.contato-item:hover{
    border: 1px solid var(--hover-contato);
    transition: all 0.3s ease-in-out;
}

.contato a:link{
    color: rgb(88, 88, 88);
}

.redes-sociais {
    display: flex;
    color: rgb(88, 88, 88);
    justify-content: space-around;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}

.redes-sociais ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 5px 0;
    font-size: 30px;
    color: var(--cor-base);
}

.redes-sociais ul li a {
    display: flex;
    position: relative;
    overflow: hidden; 
    z-index: 1; 
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.redes-sociais a:link,
.redes-sociais a:visited {
    color: #000;
    padding: 15px;
    border-radius: 50px;
    background-color: transparent;
}

.redes-sociais a:hover{
    border: 1px solid var(--hover-contato);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) and (min-width: 768px)  {

    #contato{
        margin: 0;
        padding: 30px 0;
    }
}

@media (max-width: 576px) {
    .service-card{
        width: 80% !important;
        line-height: 1em;
    }

    .contato-info{
        gap: 0;
    }

    #contato h2::after {
        bottom: 18px !important;
    }

    .redes-sociais ul{
        padding: 0;
    }
    
    #contato .contato-item{
        font-size: 1.1em !important;
        padding: 5px 40px !important;
    }

    #contato .redes-sociais ul{
        padding: 0 !important;
    }

    #contato .redes-sociais ul li a{
        padding: 10px !important;
    }

    #contato .redes-sociais ul li i{
        font-size: 0.9em;
    }
}
