#header {
    position: fixed;
    background-color: var(--cor-base);
    font-family: var(--josefin);
    display: flex;
    transition: all 0.3s ease-in-out;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 10%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 5em;
    will-change: transform;
    border-bottom: 3px solid white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#header.hidden {
  transform: translateY(-100%);
}

header ul {
    display: flex;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

header ul li {
    position: relative;
    margin: 0 15px;
    transition: all 0.3s ease;
}

header ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.8rem;
}

header #escrito {
    height: 60px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    filter: invert(100%);
}

header a:link,
header a:visited {
    color: white;
}

header a:hover {
    transition: all 0.3s ease, color 0.3s ease-in-out;
    border: 1px solid white;
    border-radius: 5px;
}

header a:active {
    color: rgba(136, 136, 136, 0.8);
}

.link-logo{
    border: 1px solid transparent;
    transition: none;
}

.link-logo:hover{
    background-color: transparent;
    border: 1px solid transparent;
    transition: none;
}

#menu-btn{
    display: none;
}

@media (max-width: 1200px) and (min-width: 992px){
    header ul li{
        margin: 0 5px;
    }

    header {
        width: auto;
    }
}

@media (max-width: 992px) and (min-width: 768px){
    header ul li{
        margin: 0 0;
        font-size: 12px;
    }

    header a:link,
    header a:visited {
    color: white;
    padding: 12px 8px;
    }
}

@media screen and (max-width: 768px) {

    #menu-btn {
        display: none;
        background: none;
        border: none;
        color: white;
        font-size: 1.8rem;
        cursor: pointer;
        position: relative; 
        z-index: 10;
        transition: color 0.3s ease;
        width: 50px; 
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu-btn :hover {
        color: #d3d3d3; 
    }

    #menu-btn::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background-color: rgba(148, 148, 148, 0.1); 
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.3s ease, height 0.3s ease;
        z-index: -1;
    }

    #menu-btn:hover::before {
        width: 50px;
        height: 50px;
    }

    header ul {
        z-index: 11;
        flex-direction: column;
        position: absolute;
        top: 3.9em;
        right: 0;
        width: 100%;
        background-color: var(--cor-base);
        padding: 10px 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    }

    header ul li {
        text-align: center;
        margin: 10px 0;
        padding: 10px;
    }

    header ul.show {
        z-index: 12;
        opacity: 1;
        visibility: visible;
        transform: translateX(0)
    }
}

@media screen and (max-width: 576px) {

    #header{
        height: 4em;
    }

    #logo img {
        height: 50px;
    }

    #menu-btn{
        width: 40px;
        height: 40px;
    }

}