#home{
    padding: 30px 10px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 10px;
    z-index: 1;
    box-sizing: border-box;
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    scroll-margin-top: 5em;
}

#home .jarallax-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.texto-home{
    width: 900px;
    min-height: 500px;
    height: auto;
    font-family: var(--cambria);
    font-weight: 500;
    text-align: center;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.texto-home p{
    font-size: 1.3em;
    text-align: center;
}

.foto-home img{
    display: block;
    width: 375px;
    max-height: 630px;
    object-fit: cover;
}

#home .btn-whatsapp {
    display: flex;
    position: relative;
    height: 3.5rem;
    width: 26rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    margin: 50px 0;

    padding-top: 2px;
}

@media (max-width: 1200px) and (min-width: 992px){

    #home{
        gap: 20px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .texto-home{
        gap: 0;
        width: 700px;
        height: 450px;
        box-sizing: border-box;
    }

    .jarallax-img{
        width: 100% !important;
        margin: 0;
        padding: 0;
    }

    .foto-home img{
        width: 350px;
        margin: 0;
    }

    #home .btn-whatsapp{
        margin: 10px 0;
    }
}

@media (max-width: 992px) and (min-width: 768px)  {

    #home{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 0px;
    }
    
    #home .btn-whatsapp {
        margin-top: 30px;
    }

    .texto-home{
        margin: auto;
        width: 700px;
        height: auto;
    }

    .foto-home {
        display: flex;
        justify-content: center; 
        align-items: center; 
        overflow: hidden; 
        height: auto; 
        max-height: 100%; 
        order: -1;
    }

    .foto-home img {
        max-width: 90%;
        max-height: 100%;
        height: auto; 
        width: auto;
    }
}


@media screen and (max-width: 768px) {
    #home{
        display: flex;
        text-align: center;
        justify-content: center;
        height: auto;
        gap: 0;
        box-shadow: none;
        box-sizing: border-box;
    }
    
    h2{
        font-size: 2em;
    }

    .foto-home{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        order: -1;
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }

    .foto-home img{
        object-fit: cover;
        object-position: center 105px;
        transition: 0.7s ease-in-out;
    }

    .foto-home img:hover{
        transform: scale(1.1);
    }

    .texto-home{
        padding: 25px;
    }

    .texto-home h2{
        margin: 30px 0;
    }

}

@media (max-width: 576px) {

    #home{
        padding: 30px 0;
        padding-top: 35px;
        height: 100%;
    }

    .foto-home{
        width: 250px;
        height: 250px;
        box-shadow: 7px 7px 15px 0px rgba(0,0,0, 0.1);
    }

    .foto-home img{
        width: 260px;
        object-position: center 80px;
    }

    .texto-home{
        width: 100%;
        box-sizing: border-box;
    }

    .texto-home h1{
        margin: 15px;
        font-size: 2em !important;
        line-height: 1.2em !important;
    }
    
    .texto-home p{
        font-size: 1.1em !important;      
    }

    #home .btn-whatsapp {
        font-size: 1.1em !important;
        padding: 15px 20px !important;
    }

}
