.post-card {
  display: flex;
  flex-direction: column;
  background: white;
  color: #333;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  text-align: left;
  min-height: 400px;
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.15);
}

.container-lp .swiper-slide-next{
    transform: scale(1.08);
    transition: all 0.6s ease-in-out;
}

.container-lp .title{
    display: flex;
    
    margin: 30px 0 5px 0;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--cambria);
}

.mascara {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-content {
  padding: 15px;
}

.post-content h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #007bff;
}

.post-content p {
  font-size: 0.9rem;
  color: #666;
  height: 60px; /* Limita o tamanho do resumo */
  overflow: hidden;
}

.read-more {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #007bff;
}

.container-lp{
    width: 100%; 
    max-width: 1110px; /* Trava no máximo que você quer */
    margin: 0 auto;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    background-color: inherit;
}

.swiperPostsCustom {
  width: 100%;
  display: block;
  
  background-color: inherit;
  padding-bottom: 50px !important; /* Espaço para as bolinhas da paginação */
}

.swiper-slide {
  /* MUITO IMPORTANTE: remova qualquer width fixo aqui */
  height: auto; 
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
/* 
@media (min-width: 900px) and (max-width: 1100px){
    .container-lp{
        width: 1000px;
    }
}

@media (min-width: 750px) and (max-width: 899px){
    .container-lp{
        width: 700px;
    }
} */

/* Força o Swiper a dividir o espaço em 3 no desktop */
@media (min-width: 1110px) {
    .swiperPostsCustom .swiper-slide {
        width: calc((100% - 60px) / 3) !important; 
        margin-right: 30px !important;
    }
}

/* Garante que o slide não tente ser maior que o container */
.swiperPostsCustom .swiper-slide {
    box-sizing: border-box !important;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}