.post-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between !important;
	background: white;
	color: #333;
	text-decoration: none;
	height: 100%;
	min-height: 400px;
	width: 100%;
	max-width: 340px;
	border-radius: 15px;
	overflow: hidden;
	text-align: left;
	box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.15);
}

.container-lp{
    width: 100%; 
    max-width: 1110px; 
    margin: 0 auto;
    box-sizing: border-box;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    background: inherit !important;
    color: #333;
    text-decoration: none;
    min-height: 400px;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    text-align: left;
}

.container-lp .swiper-slide-next{
    transform: scale(1.08);
    transition: all 0.6s ease-in-out;
}

.container-lp .title{
    display: flex;
    margin: 30px 0 10px 0;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--cambria);
    position: relative;
}

.container-lp .title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px !important;
    width: 16rem;
    height: 3px;
    background: var(--cor-base);
    transform: translateX(-50%);
    border-radius: 2px;
}

.mascara {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.container-lp .post-content {
	padding: 0px;
	font-family: var(--cambria);
	display: flex;
	flex-direction: column;
	justify-content:space-between !important;
	height: 100%;
}

.container-lp .post-content h2 {
    color: #272727;
    font-size: 1.4em;
    margin: 15px;

}

.container-lp .post-content p {
    color: #666;
    height: 95px;
    font-size: 1em;
    margin: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.container-lp .post-content span{
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 1.1em;
    display: block;
    margin: 0 15px 15px 15px;
}

.swiperPostsCustom {
	width: 100%;
	display: block;
	background-color: inherit;
	padding-bottom: 50px !important; 
}

.swiper-slide {
	height: auto; 
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

.swiperPostsCustom .swiper-slide {
    box-sizing: border-box !important;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

@media (min-width: 1110px) {
    .swiperPostsCustom .swiper-slide {
        width: calc((100% - 60px) / 3) !important; 
        margin-right: 30px !important;
    }
}

@media (min-width: 767px) and (max-width: 1109px) {

    .swiperPostsCustom .swiper-slide {
        width: calc((100% - 20px) / 2) !important; 
        margin-right: 30px;
    }

	.container-lp .swiper-slide-next{
		transform: none;
	}
}

@media (max-width: 766px) {

    .container-lp .title::after {
        bottom: -2px !important;
        width: 13rem;
    }
    .swiperPostsCustom .swiper-slide {
        width: calc((100%) / 1) !important; 
        margin-right: 30px;
    }

	.container-lp .swiper-slide-next{
		transform: none;
	}

	.post-card{
		width: 80% !important;
		min-width: 80% !important;
	}

}
