.latest-posts {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 37rem;
    align-items: center;
    justify-content: center;
    font-family: var(--josefin);
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    & h2 {
        font-family: var(--cambria);
        font-weight: 700;
        padding: 1.9rem 0 .7rem 0;
        margin: 0;
        flex-wrap: nowrap;
    }
}

.latest-posts .swiper-slide {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

.latest-posts .swiper{
    background-color: #f0f0f0;
    height: 100%;
    width: 1200px;
    margin: 0;
    padding: 0;
}

.latest-posts .swiper-wrapper{
    padding-left: 430px;
    width: 400px;
}

.latest-posts .swiper-slide-active{
  transform: scale(1.07);
  transition: all 0.5s ease-in-out;
}

.latest-posts .swiper-slide-prev,
.latest-posts .swiper-slide-next{
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}


.latest-posts .swiper-button-next,
.latest-posts .swiper-button-prev{
  display: none !important;
}

.latest-posts .post {
    background-color: #fff;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.15);
    width: 350px;
    min-height: 430px;
    max-height: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-out;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    & h2 {
    font-size: 1.2rem;
    margin: 10px 15px;
    padding: 0;
    display: flex;
    text-align: start;
    }

    & p {
        margin: 0 15px 10px;
        color: #555;
        font-size: 0.95rem;
        display: flex;
        text-align: start;
    }

    & span {
        margin: auto 15px 15px;
        font-weight: 600;
        color: #444;
        display: flex;
        align-items: center;
        gap: 6px;
    }

}