
#servicos{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 10px 0;
    margin: 0;
    gap: 20px;
    font-family: var(--cambria);
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#servicos h2{
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-flex;
}

#servicos h2::after {
    content: "";
    position: absolute;
    display: flex;
    left: 50%;
    bottom: -3px !important;
    width: 100%;
    height: 3px;
    background: var(--cor-base);
    transform: translateX(-50%);
    border-radius: 2px;
}

.content-servicos{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.service-card {
    width: 350px !important; 
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0, 0.05);
    color: #333333;
    cursor: default !important;
    margin-left: auto;
    margin-right: auto;
}

.service-card-link {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}

.service-card:hover{
    box-shadow: 5px 5px 10px 5px rgba(219, 142, 135, 0.24);
}

.service-header{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
 
.service-header i{
    font-size: 2em;
    padding: 15px 25px 15px 0px;
    color: var(--cor-base);
    transform:scale(1);
    transition: all 0.3s ease;
}

.service-card:hover .service-header i{
    transform:scale(1.1);
    transition: all 0.3s ease;
}

.service-header h3{
    font-size: 1.3em;
}

.service-content{
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    transition: 0.7s ease-in-out;
}

@media (max-width: 1200px) and (min-width: 992px){
    #servicos{
        width: 100%;
    }

    .service-card{
        width: 350px;
    }

}

@media (max-width: 992px) and (min-width: 768px)  {

    #servicos{
        display: flex;
        height: auto;
        text-align: center;
        justify-content: center;
        gap: 0px;
        padding: 30px 0;
    }

    .content-servicos{
        margin: auto;
        width: 100%;
        height: auto;
        padding: 30px 0;
    }

    #servicos h2{
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    #servicos{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 0;
        margin: 0;
        padding: 30px 0;
        width: 100%;
        box-sizing: border-box;
    }
    
    .content-servicos {
        box-sizing: border-box; 
        padding: 30px 0px;
        text-align: center;
    }

    .content-servicos h2{
        margin: 15px;
    }

    .service-card{
        width: 70% !important;
    }
    
    .content-servicos i{
        padding: 0px 10px 0px 0px;
        color: var(--cor-base);
    }
    
    .content-servicos p{
        font-size: 1.1em;
        text-align: justify;
        align-items: center;
        display: flex;
    }
}

@media (max-width: 576px) {
 
    #servicos{
        padding: 30px 0 0 0;
    }

    .content-servicos{
        padding: 30px 0 10px 0;
    }

    #servicos h2{
        margin: 0 25px;
        font-size: 2em;
        line-height: 1em;
    }

    #servicos h2::after {
        bottom: -9px !important;
        width: 80%;
    }

    .service-card{
        min-width: 85%;
        line-height: 1em;
        padding: 10px;
    }

}