#depoimentos{
    width: 100%;
    margin: 0px;
    display: block;
    position: relative;
    flex-wrap: nowrap;
    font-family: var(--cambria);
    box-sizing: border-box;
    overflow: visible;
    padding: 20px 0;
    background: #fff;
    text-align: center;
}

#depoimentos h2{
    display: inline-flex;
    position: relative;
    font-weight: 600;
    margin: 0 0 10px 0 ;
}

#depoimentos h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px !important;
    width: 100%;
    height: 3px;
    background: var(--cor-base);
    transform: translateX(-50%);
    border-radius: 2px;
}

#depoimentos .swiper{
    max-width: 1200px;       
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 10px 0px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0, 0.01);
    transition: all 0.6s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-prev,
.swiper-button-next {
    color: #00000054 !important;
    position: absolute;
    font-weight: bold;
    transform: translateY(-50%);
    overflow: visible;
    display: flex;
    z-index: 15;
    padding: 0; 
    margin: 0;
    font-size: 4em;
}

#depoimentos .swiper-button-prev{
    left: 0;
}

#depoimentos .swiper-button-next{
    right: 0;
}

#depoimentos .swiper-pagination{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 20px;
    max-width: 1200px;       
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#depoimentos .swiper-pagination-bullet {
    background-color: #00000080 !important;
}

#depoimentos .swiper-container {
    width: auto;
    margin: 0;
}

#depoimentos .swiper-slide {
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

#depoimentos .swiper-slide-active{
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 !important;
}

.quote{
    height: 520px;
    font-style: italic;
    font-size: 22px;
    font-family: var(--cambria);
    box-sizing: border-box;
    text-align: start;
    display: flex;
    z-index: 13;
    padding: 5px 5px 5px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    margin: 0px 60px 15px;
}

.autorDepoimento{
    font-weight: bold;
    font-size: 22px;
    padding: 50px 30px 15px 30px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quote::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
}

.quote::-webkit-scrollbar-track {
    background: transparent;
}

.quote::-webkit-scrollbar-thumb {
    background: #f5dddb;
    border-radius: 8px;
}

.quote::-webkit-scrollbar-thumb:hover {
    background: #dba29c;
}


@media (max-width: 1200px) and (min-width: 992px){

    #depoimentos{
        width: 100%;
    }

    #depoimentos .quote{
        margin: 25px 35px;
    }

    .swiper-button-next,
    .swiper-button-prev{
        padding: 0;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 3em;
    }

}

@media (max-width: 992px) and (min-width: 768px)  {

    #depoimentos{
        z-index: 0;
        margin: 0;
        width: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;

        padding-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide p.quote {
        width: 700px;
        margin: 0 auto;
    }

    .swiper-button-prev{
        left: 5px;
        z-index: 22;
        padding: 0;
    }
    
    .swiper-button-next{
        right: 5px;
        z-index: 22;
        padding: 0;
    }

    .autorDepoimento{
        padding: 30px 0 40px 0;
    }

}

@media screen and (max-width: 768px) {

    .swiper-button-prev,
    .swiper-button-next {
        color: rgb(230, 230, 230);
        display: none !important;
    }

    .quote{
        font-size: 18px;
        text-align: justify;
        padding: 0;
        margin: 15px 0;
        scrollbar-width: none; 
        -ms-overflow-style: none;
        height: 550px;
    }

    .autorDepoimento{
        font-size: 21px;
        padding-bottom: 60px;
    }

    #depoimentos{
        width: 100%;
        padding: 25px;
        height: auto;
        margin: 0;
    }
        
    #depoimentos .quote p{
        margin: 0 0 15px 0 !important;
    }

    #depoimentos h2{
        margin: 0 0 15px 0;
    }

    #depoimentos h2::after {
        bottom: -3px !important;
    }

    .swiper-pagination{
        position: relative; 
        z-index: 1;
        height: 30px;
        background: rgb(255, 255, 255);
    }

    .swiper-pagination::before {
        content: '';
        position: absolute;
        top: -50px;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, rgba(255,255,255,0), white);
        pointer-events: none; 
        z-index: -1; 
    }

}
